@mixin breakpoint-down ($size){
  @media only screen  and (max-width: $size){
    @content;
  }
}

@mixin list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin d-flex ($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}
@mixin hind {
  font-family: 'Hind Madurai', sans-serif;
}