.product {
  background-color: #fff;
  color: #000;
  padding: 137px 0 149px 0;
  text-align: center;
}

.product__main_title {
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
  @include hind;
  margin-bottom: 64px;
}

.product__nav_bar ul {
  @include d-flex(center);
  gap: 39px;
  @include roboto;
}

.product__nav_bar ul li a {
  color: #8b8b8b !important;

  &:hover {
    color: #000 !important;
    border-bottom: 3px solid #D64374;
  }
}

.product__odd,
.product__even {
  @include d-flex(center);
  gap: 105px;
}

.product__odd {
  text-align: left;
}

.product__even {
  text-align: right;
}

.product__title {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  @include hind;
  margin-bottom: 11px;
}

.product__description {
  font-size: 16px;
  line-height: 24px;
  @include roboto;
  opacity: 0.7;
  margin-bottom: 28px;
}

.product__pic {
  width: 100%;
}

.product__main {
  width: 40%;
}

.product__price {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  @include hind;
}

.price__span {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-decoration-line: line-through;
  opacity: 0.7;
}

.product__last {
  display: flex;
  align-items: center;
  gap: 105px;
  margin-top: 35px;
}

.last__product {
  align-items: flex-end;
}

.price__account {
  display: flex;
  align-items: center;
  gap: 21px;
  text-align: left;
  margin-bottom: 30px;
}

.price__account_name {
  text-align: left;
}

.price__main_title {
  @include roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.price__nationality {
  @include roboto;
  opacity: 0.7;
}

.price__comment {
  opacity: 0.7;
  font-size: 16px;
  line-height: 24px;
  width: 45%;
  @include roboto;
  margin-bottom: 50px;
}
.product__slider {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  
}
.main__img3{
  width: 12%;
}
.img__4{
  width: 8%;
}